<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pelet_Ivana.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pelet_Ivana.Properties.Settings>
            <setting name="radP1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="radP2" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="radP3" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="pauzaP1" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="pauzaP2" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="pauzaP3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kalorijskaMocPeleta" serializeAs="String">
                <value>4.7</value>
            </setting>
            <setting name="kolicinaPeletaUMin" serializeAs="String">
                <value>220</value>
            </setting>
        </Pelet_Ivana.Properties.Settings>
    </userSettings>
</configuration>